[submodule "addons/ofxBox2d"]
	path = addons/ofxBox2d
	url = git@github.com:vanderlin/ofxBox2d.git
[submodule "addons/Tools"]
	path = addons/Tools
	url = git@github.com:vanderlin/Tools.git
[submodule "addons/roxlu"]
	path = addons/roxlu
	url = git@github.com:roxlu/roxlu.git
[submodule "addons/ofxQTKitVideoGrabber"]
	path = addons/ofxQTKitVideoGrabber
	url = https://github.com/Flightphase/ofxQTKitVideoGrabber
[submodule "addons/ofxVoronoi"]
	path = addons/ofxVoronoi
	url = git@github.com:vanderlin/ofxVoronoi.git
